<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/site.css" />

    <title></title>
</head>
<body class="bg-gray-200 ">
    <header>
        <div class="container p-4 mx-auto">
            <h1 class="text-center text-2xl font-bold">Dotnet Core Todo App</h1>
        </div>
    </header>
    <div>

        <partial name="~/Views/Todo/Create.cshtml"/>
        <main class="p-4">
            @RenderBody()
        </main>
    </div>
</body>
</html>
